# ex4_1:串列的函式與方法(function and method)
### 將講義上的範例實際練習一次

In [13]:
lst1=[10,20,30,40,50]

In [14]:
num=len(lst1)
print(num)

5

In [15]:
total=0
for i in range(len(lst1)):
    total+=lst1[i]

In [16]:
total

150

In [17]:
lst1.append(66)
lst1.insert(2,77)
lst1.pop()
lst1.pop(3)
lst1.remove(20)

In [27]:
lst1

[10, 77, 40, 50]

In [29]:
n1=lst1.index(40)
n1

2

In [30]:
n2=lst1.count(10)
n2

1

In [35]:
lst2=[11,22,33,44,55,66,77]
del lst2[3]
del lst2[1:5]
del lst2[1:5:2]
del lst2[:]

In [36]:
lst1.clear()

# ex4_2 氣泡排序法 (bubble sort)
### 將講義上的範例實際寫成程式碼
- 有 n 個資料長度，但只要執行 n-1 次
- 從第1個開始比較直到最後一個還沒到最終位置的數字
- 比大小然後互換
- 輸出每個步驟如下

Original: [4, -15, 20, 13, -6]
step: 1   [-15, 4, 13, -6, 20]
step: 2   [-15, 4, -6, 13, 20]
step: 3   [-15, -6, 4, 13, 20]
step: 4   [-15, -6, 4, 13, 20]

In [18]:
a = [4,-15,20,13,-6]
# a = [89, 34, 23, 78, 67, 100, 66, 29, 79, 55, 78, 88, 92, 96, 96, 23]
a

[4, -15, 20, 13, -6]

In [19]:
print ('Original:',a) 
#add your code below
for i in range(1,len(a),1):
    for j in range(0,len(a)-i,1):
        if a[j]>a[j+1]:
            tmp=a[j+1]
            a[j+1]=a[j]
            a[j]=tmp
    print(f"step: {i}  ",a)

Original: [4, -15, 20, 13, -6]
step: 1   [-15, 4, 13, -6, 20]
step: 2   [-15, 4, -6, 13, 20]
step: 3   [-15, -6, 4, 13, 20]
step: 4   [-15, -6, 4, 13, 20]

In [20]:
# 0-based
print ('Original:',a) 
#add your code below
for i in range(0,len(a)-1):
    for j in range(0,len(a)-i-1):
        if a[j]>a[j+1]:
            tmp=a[j+1]
            a[j+1]=a[j]
            a[j]=tmp
            # a,b=b,a
    print(f"step: {i+1}  ",a)

Original: [-15, -6, 4, 13, 20]
step: 1   [-15, -6, 4, 13, 20]
step: 2   [-15, -6, 4, 13, 20]
step: 3   [-15, -6, 4, 13, 20]
step: 4   [-15, -6, 4, 13, 20]

# ex4_3 將下列一維List整合成二維List
### students=[[name, weight, height, score],[name,.........].....]

expected answer:
[['alan', 75.5, 177, 83], ['bob', 80.1, 185, 76], ['charlie', 66.8, 170, 91], ['eric', 90.6, 172, 67], ['frank', 82.0, 166, 55]]

In [21]:
score=[83,76,91,67,55]
name=['alan','bob','charlie','eric','frank']
weight=[75.5,80.1,66.8,90.6,82.0]
height=[177,185,170,172,166]

In [22]:
#add your code below
data=[[name[i],weight[i],height[i],score[i]] for i in range(5)]

In [23]:
data

[['alan', 75.5, 177, 83],
 ['bob', 80.1, 185, 76],
 ['charlie', 66.8, 170, 91],
 ['eric', 90.6, 172, 67],
 ['frank', 82.0, 166, 55]]

In [24]:
import pandas as pd
df=pd.DataFrame(data)

In [25]:
df

         0     1    2   3
0     alan  75.5  177  83
1      bob  80.1  185  76
2  charlie  66.8  170  91
3     eric  90.6  172  67
4    frank  82.0  166  55